@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
.link{
    text-decoration: none;
    list-style-type: none;
    color: #ffa948;
    font-family: 'Metal Mania';
    font-size: 40px;
}
